<div class="center">
  <form>
    <div><img src="assets/logo.png" alt="Logo"></div>

    <div class="form-group">
      <label for="inputEmail">Enter email</label>
      <input type="email" class="form-control" id="inputEmail"
             aria-describedby="emailHelp"
             placeholder="Enter email">
    </div>
    <label class="font-italic">Please enter registered user email, we will sent you recovery link</label><br>

    <button type="submit" class="btn btn-primary">Recover</button>
  </form>
</div>
