<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <img src="assets/boltGun.jpg" class="img-responsive img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-8">
      <div class="container-fluid">
        <div class="typeIcon row">
          <h1 class="col-8">{{weaponName}}</h1></div>
        <table class="table table-striped">
          <thead>
          <tr class="row">
            <th scope="col" class="col-3">Name</th>
            <th scope="col" class="col-1">Range</th>
            <th scope="col" class="col-2">Type</th>
            <th scope="col" class="col-1">Shots</th>
            <th scope="col" class="col-1">S</th>
            <th scope="col" class="col-1">AP</th>
            <th scope="col" class="col-1">D</th>
          </tr>
          </thead>
          <tbody>
          <tr class="row">
            <td class="col-3"><input class="form-control col-8" type="text"
                                     [(ngModel)]="weaponName"/></td>
            <td class="col-1"><input class="form-control" type="number" [(ngModel)]="range"/></td>
            <td class="col-2"><select name="cars" class="form-control" [(ngModel)]="type">
              <option *ngFor="let item of types" value="{{item}}">{{item}}</option>
            </select>
            <td class="col-1"><input class="form-control" type="number" [(ngModel)]="shouts"/></td>
            <td class="col-1"><input class="form-control" type="number" [(ngModel)]="strength"/>
            </td>
            <td class="col-1"><input class="form-control" type="number"
                                     [(ngModel)]="armorPiercing"/></td>
            <td class="col-1"><input class="form-control" type="number" [(ngModel)]="damage"/></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <button (click)="addRule(current)" class="btn btn-primary">Add rule</button>
        <select name="cars" class="form-control col-5" [(ngModel)]="current">
          <option *ngFor="let rule of rules| keyvalue" value="{{rule.key}}">{{rule.key}}</option>
        </select>
      </div>
      <br>
      <div class="row">
        <div>
          <button class="btn btn-danger">Save weapon</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="typeIcon row">
      <img [src]=typeIcon class="col-1">
      <h1 class="col-8">Weapon rules</h1></div>
    <table class="table table-striped">
      <thead>
      <tr class="row">
        <th scope="col" class="col-3">Condition</th>
        <th scope="col" class="col-7">Effect</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row" *ngFor="let rule of selectedRules| keyvalue">
        <td class="col-1">
          <button (click)="removeRule(current)" class="btn btn-secondary">Remove rule</button>
        </td>
        <td class="col-3">{{rule.key}}</td>
        <td class="col-6">{{rule.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
