<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-pills box">
  <li [ngbNavItem]="6">
    <a ngbNavLink>LogOut</a>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink [routerLink] = "'/register'">Register</a>
  </li>
  <li [ngbNavItem]="4" class="push">
    <a ngbNavLink [routerLink] = "'/login'">LogIn</a>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Skirmish</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Unit builder</a>
  </li>
  <li [ngbNavItem]="1">
    <a ngbNavLink [routerLink] = "'/model'">Model builder</a>
  </li>
  <li [ngbNavItem]="0">
    <a ngbNavLink [routerLink] = "'/weapon'">Weapon builder</a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
